<script type="text/javascript">
    $(function(){
        $('#slider').slides({
            preload: true,
            play: 4000,
            pause: 2500,
            auto: 2000,
            hoverPause: true,
            animationComplete: function(current){
                $('.caption').animate({
                    bottom:0
                },200);
            },
            slidesLoaded: function() {
                $('.caption').animate({
                    bottom:0
                },200);
            }
        });
    });
</script>

<h2>You describe, iTest it</h2> 
</br>
iTest will shorten the distance between programmers and clients. </br></br>

</br></br>

            <div id="slider" class="grid_12" style="width:398px; height:330px; overflow:hidden; background:url(../assets/imac.png)">
                <div class="slides_container">                	
                    <div class="slide">
                        <img src="assets/Capturar1.PNG" alt="" style="padding-top:13px; padding-left:14px; width:371px; height:211px; overflow:hidden;" />
                    </div>
                    <div class="slide">
                        <img src="assets/Capturar2.PNG" alt="" style="padding-top:13px; padding-left:14px; width:371px; height:211px; overflow:hidden;"/>
                    </div>
                    <div class="slide">
                        <img src="assets/Capturar3.PNG" alt="" style="padding-top:13px; padding-left:14px; width:371px; height:211px; overflow:hidden;"/>
                    </div>
                </div>
            </div>
            
            
            
            <ul class="products">
				<li class="box">
					<div class="products-img"><img src="assets/product-01.jpg" alt="" /></div>
					<!-- Photo: (c) Nic McPhee -->
					<div class="products-desc">
						<h3><a href="#">Web Design</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisquemi nisi nunc, aliquam quis sollicitudin in, malesuada lectus. Vivamuse sodales semper ultricies. Ut dui anteestem dignissim ac ornareget, sollicitudin a libero. Donec quis sem magna, a venenatis felisti.</p>
					</div> <!-- /products-desc -->
				</li>
				<li class="box">
					<div class="products-img"><img src="assets/product-02.jpg" alt="" /></div>
					<!-- Photo: (c) Emran Kassim -->
					<div class="products-desc">
						<h3><a href="#">Graphic Design</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisquemi nisi nunc, aliquam quis sollicitudin in, malesuada lectus. Vivamuse sodales semper ultricies. Ut dui anteestem dignissim ac ornareget, sollicitudin a libero. Donec quis sem magna, a venenatis felisti.</p>
					</div> <!-- /products-desc -->
				</li>
				<li class="last box">
					<div class="products-img"><img src="assets/product-03.jpg" alt="" /></div>
					<!-- Photo: (c) Scott Robinson -->
					<div class="products-desc">
						<h3><a href="#">Corporate Identity</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisquemi nisi nunc, aliquam quis sollicitudin in, malesuada lectus. Vivamuse sodales semper ultricies. Ut dui anteestem dignissim ac ornareget, sollicitudin a libero. Donec quis sem magna, a venenatis felisti.</p>
					</div> <!-- /products-desc -->
				</li>
			</ul>


<% if notice %>
<p id="notice"> <%= notice %> </p>
<% end %>
