<script type="text/javascript">
    $(function(){
        $('#slider').slides({
            preload: true,
            play: 4000,
            pause: 2500,
            auto: 2000,
            hoverPause: true,
            animationComplete: function(current){
                $('.caption').animate({
                    bottom:0
                },200);
            },
            slidesLoaded: function() {
                $('.caption').animate({
                    bottom:0
                },200);
            }
        });
    });
</script>

<h1 align="center">You describe, iTest it</h1> 
<br />

          <div id="slider" class="grid_12" style="padding-bottom:30px ;width:398px; height:330px; overflow:hidden; background:url(../assets/imac.png) no-repeat;">
                <div class="slides_container">                	
                    <div class="slide">
                        <img src="assets/Capturar1.PNG" alt="" style="padding-top:13px; padding-left:14px; width:371px; height:211px; overflow:hidden;" />
                    </div>
                    <div class="slide">
                        <img src="assets/Capturar2.PNG" alt="" style="padding-top:13px; padding-left:14px; width:371px; height:211px; overflow:hidden;"/>
                    </div>
                    <div class="slide">
                        <img src="assets/Capturar3.PNG" alt="" style="padding-top:13px; padding-left:14px; width:371px; height:211px; overflow:hidden;"/>
                    </div>
                </div>
            </div>
  
  

            
            <ul class="products">
				<li class="box">
					<div class="products-img"><img src="assets/logo2.png" alt="" /></div>
					<!-- Photo: (c) Nic McPhee -->
					<div class="products-desc">
						<h3>What is iTest</h3>
						<p>iTest is a service based on the agile method Behavior Driven Development. 
							With iTest we can minimize the distance between client and  developer, 
							since you can create your own projects, manage them, manage your colaborators, and above all, 
							use a language that both client and developer can understand. You can read more about BDD 
							<a href="http://en.wikipedia.org/wiki/Behavior_Driven_Development"> here</a> </p> 
					</div> <!-- /products-desc -->
				</li>
				
				<li class="box">
					<div class="products-img"><img src="assets/cucumber_logo.png" alt="" /></div>
					<!-- Photo: (c) Nic McPhee -->
					<div class="products-desc">
						<h3>BDD and Cucumber</h3>
						<p>iTest uses <a href="http://cukes.info/">Cucumber</a>'s full potencial to test your projects
							 and make transparent to everyone the current state of it. 
							 One of the main advantages of BDD, is that uses natural language
							 to translate into actual tests. <strong>No more miscommunicaton with everyone!</strong>
						</p>
					</div> <!-- /products-desc -->
				</li>
				
				
				<li class="box">
					<div class="products-img"><img src="assets/itest-social.png" alt="" /></div>
					<!-- Photo: (c) Nic McPhee -->
					<div class="products-desc">
						<h3>iTest is social!!!</h3>
						<p>Tired of troubling agendas due to diferent schedules? We have the solution! 
							The power of iTest will impress you. We offer the ability to request new features to your project, 
							discuss them with your client and partnering developers,even discuss small details relative to a feature's test.
							  <strong>With this ability you can minimize time spent with your client and fellow developers, thus maximizing your production.</strong>
						</p>
					</div> <!-- /products-desc -->
				</li>
				
				<li class="box">
					<div class="products-img"><img src="assets/itest-image1.jpeg" alt="" /></div>
					<!-- Photo: (c) Emran Kassim -->
					<div class="products-desc">
						<h3>What can iTest do for you</h3>
						<p>It can test your project on the go, based on your project Git repository, and show informative and compreensive information
							based on your project state. It can even let you and your client try a test on the go, without interfering with your project.</p>
					</div> <!-- /products-desc -->
				</li>
				
			</ul>


	
  			

<% if notice %>
<p id="notice"> <%= notice %> </p>
<% end %>
