
<h2>You describe, iTest it</h2>
</br>
iTest will shorten the distance between programmers and clients </br></br>

The client just have to describe the behavior of the project and the programmers will design it using the BDD (Behavior Driven Development) methodology
</br>

<%= image_tag "cycle.png"  %>

<% if notice %>
<p id="notice"> <%= notice %> </p>
<% end %>
