
<h2>You describe, iTest it</h2>
</br>
iTest will shorten the distance between programmers and clients. </br></br>

The clients have the opportunity to get involved into the project development, by suggesting behavior tests in a simple natural language...
</br>
<%= image_tag "Capturar1.PNG" , width: '575' %>
</br></br>

...and follow the project progress by cheking the tests done and their status...
</br>
<%= image_tag "Capturar2.PNG" , width: '575' %>
</br></br>

...or you can see were your tests are failling.
</br>
<%= image_tag "Capturar3.PNG" , width: '575' %>
</br></br>



<% if notice %>
<p id="notice"> <%= notice %> </p>
<% end %>
