<h2>What is the BDD methodology?</h2>
Behavior-driven development (or BDD) is an agile software development technique that encourages collaboration between developers, 
QA and non-technical or business participants in a software project.
</br>
</br>
<h2>What is iTest?</h2>
iTeste its a web plataform that uses the BDD methodology to test multi-developer projects where the client
have a very active role deciding the system requirements and behavior</br>
</br>
dsfgdhgsdhfd
</br>
</br>
<h2>What are the requirements to use iTest?</h2>
You have to register and log in
</br>
Your project have to be stored at <a href="https://github.com/"> GitHub </a>
</br>
Your test must follow the <a href="http://cukes.info/"> Cucumber </a> parameters



