<%= form_for(@sc, :url => suggestion_scenarios_create_path) do |f| %>
  <% if @sc.errors.any? %>
  <% end %>
  
  <fieldset>
  	<legend>Suggest a new scenario that you find useful</legend>
  	
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    
    
    <div class="actions">
      <%= f.submit "Create Account" %>
    </div>
  </fieldset>
  
  
<% end %>