<h1>New Project</h1>


<div class="mybubble" style="padding: 30px; margin-top: 30px">


	<%= link_to 'Back', projects_path %>
	
	<br/><br/>
	
	<%= render 'form' %>

	<p style="clear:both; margin-top: 180px;">Note: Github collaborators who also have an iTest account will be automatically added to this project. Their e-mail must be publicly visible.</p>
</div>


