// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bg: #ddd;
$font: #ffffff;

div#new_comment {
  textarea {
    width: 90% !important;
  }

}

div#comments {
  position:relative;
  overflow-y:auto;
  max-height:400px;
    
  .comment{
  
      background-color: #ddd;
      margin-bottom:15px;
  
      border-radius: 7px;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
  
  
      .content {
          color: darken($bg, 50%);
          padding: 15px;
          word-wrap: break-word;
          clear: both;
          //font-family: Lucida Console;
      }
  
      .author {
          
          display:inline;
          //font-family: Tahoma;
          font-weight: bold;
          
          * {
            padding: 5px;
            float: left;
          }
      }
  
      .date {
          padding-right: 5px;
          float: right;
          color: darken($bg, 50%);//#3bbfce;
          display: inline;
          //font-family: Tahoma;
      }
      
      a.del_comment {
        float: right;
        //clear: both;
      }
  
  
  }
  
  .comment:hover {
      background-color: invert($bg);//#E1DDFC;
  
      *:not(a) {
          color: lighten(invert($bg), 50%);
      }
  }
  
  #comments_title {
    text-align: center;
  }
  
}

/*
div#feature_comments {
  display: inline;
  float: right;
  padding-right: 25px;
}
*/

span.scenario_comments {
  display: inline;
  float: right;
  padding-left: 10px;
}

div.step span.step_comments {
  
  float: right;

}
