// Place all the styles related to the Features controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
  padding: 0 0 1em;
}

.scenario_head {
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  position: relative;
  margin:1px;
  margin-top: 20px;
  


  //corners
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.scenario_head.completed {
    background: -moz-linear-gradient(left, rgba(54,216,142,0.8) 40%, rgba(54,216,142,0.8) 76%, rgba(54,216,142,0.2) 99%, rgba(54,216,142,0.2) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(40%,rgba(54,216,142,0.8)), color-stop(76%,rgba(54,216,142,0.8)), color-stop(99%,rgba(54,216,142,0.2)), color-stop(100%,rgba(54,216,142,0.2))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(54,216,142,0.8) 40%,rgba(54,216,142,0.8) 76%,rgba(54,216,142,0.2) 99%,rgba(54,216,142,0.2) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(54,216,142,0.8) 40%,rgba(54,216,142,0.8) 76%,rgba(54,216,142,0.2) 99%,rgba(54,216,142,0.2) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(54,216,142,0.8) 40%,rgba(54,216,142,0.8) 76%,rgba(54,216,142,0.2) 99%,rgba(54,216,142,0.2) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(54,216,142,0.8) 40%,rgba(54,216,142,0.8) 76%,rgba(54,216,142,0.2) 99%,rgba(54,216,142,0.2) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc36d88e', endColorstr='#3336d88e',GradientType=1 ); /* IE6-9 */
}


.scenario_head.incomplete {
    background: -moz-linear-gradient(left, rgba(255,124,102,0.8) 40%, rgba(255,124,102,0.8) 76%, rgba(255,124,102,0.2) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(40%,rgba(255,124,102,0.8)), color-stop(76%,rgba(255,124,102,0.8)), color-stop(100%,rgba(255,124,102,0.2))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255,124,102,0.8) 40%,rgba(255,124,102,0.8) 76%,rgba(255,124,102,0.2) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255,124,102,0.8) 40%,rgba(255,124,102,0.8) 76%,rgba(255,124,102,0.2) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255,124,102,0.8) 40%,rgba(255,124,102,0.8) 76%,rgba(255,124,102,0.2) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(255,124,102,0.8) 40%,rgba(255,124,102,0.8) 76%,rgba(255,124,102,0.2) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccff7c66', endColorstr='#33ff7c66',GradientType=1 ); /* IE6-9 */
}

.scenario_body {
  padding: 5px 10px 5px 30px;
  background-color:#F4F4F8;
  
  margin: 5px;
  
  border-bottom-left-radius: 17px;
  -webkit-border-bottom-left-radius: 17px;
  -moz-border-bottom-left-radius: 17px;
  
  p {
    margin-left: 15px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 25px;
  }
  
  table {
    margin-left: 50px;
  }
  
  .passed {
    color: green !important;
  }
  
  .undefined {
    color: orange !important;
  }
  
  .failed {
    color: red !important;
  }

  .skipped {
    color: #4775c9 !important; //light blue
  }

}

span#feature_options {

  display: block;
  text-align: center;
  padding: 20px 0px;
  
  div.option {
    display: inline;
    padding: 20px;
  }

}




//    Help Menu Popup

#backgroundPopupHelp {  
  padding: 0px;
  display:none;  
  position:fixed;  
  _position:absolute; /* hack for internet explorer 6*/  
  height:100%;  
  width:100%;  
  top:0;  
  left:0;  
  background:#000000;  
  border:1px solid #cecece;  
  z-index:11;  
}  

#popupHelp{  
  display:none;  
  position:fixed;  
  _position:absolute; /* hack for internet explorer 6*/  
  height: 480px;//384px;  
  width:408px;  
  background:#FFFFFF;  
  border:2px solid #cecece;  
  z-index:12;  
  padding:12px;  
  font-size:13px;  
  
  h1{  
    text-align:left;  
    color:#6FA5FD;  
    font-size:22px;  
    font-weight:700;  
    border-bottom:1px dotted #D3D3D3;  
    padding-bottom:2px;  
    margin-bottom:20px;  
  }
  
}  

#popupHelpClose{  
  font-size:14px;  
  line-height:14px;  
  right:6px;  
  top:4px;  
  position:absolute;  
  color:#6fa5fd;  
  font-weight:700;  
  display:block;  
}  


