/*
	Slideshow
*/

#slides {
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	overflow:hidden;
	position:relative;
	display:none;
	
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container div.slide {
	width:550px;
	height:410px;
	
	
	display:block;
}

/*
	Next/prev buttons
*/

#slider .next,#slider .prev {

}

#slider .next {
	position:relative;
	left:500px;
}

/*
	Pagination
*/

.pagination {
	margin:15px auto 0;
	width:50px;
}


