// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.projects {

  td {
   text-align: center;
   }
}


div.project_script {
  float: right;
  
  
  div, textarea {
    margin-left: 20px;
  }
  
  p, label {
    width: 470px;
    padding: 10px;
  }
  
  
  
  .script_line {
    color: grey;
    font-style: italic;
  }

}



table#project_fields {
  td:last-child {
    padding-left: 50px;
  }

  td {
    padding-bottom: 10px;
  }

}
