div.new_steps {

  //esconde todos os butoes '+'
  .new_step .add_step {
    display: none;
  }

  //mostra apenas o ultimo
  .new_step:last-child {
    .add_step {
      display: inline;
    }
  }
  
  #no_steps_error {
    display:none;
  }
  
  .step_table {
    margin-left: 30px;
  }
}


li.matched_step {
  color:green;
}
